<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{{pageTitle}}}</title>
        {{{styles}}}
    </head>

    <body>
        {{>layouts/layoutNavbar}}

        <main>
            <!-- page specific content will be inserted here -->
            <div class="container mt-5">
                {{{content}}}
            </div>
        </main>

        <script>
            //stop form resubmission on page refresh
            document.addEventListener('DOMContentLoaded', () => {
                if (window.history.replaceState) {
                    window.history.replaceState(null, null, window.location.href);
                }
            });
        </script>
        {{{scripts}}}
    </body>
</html>