<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{{pageTitle}}}</title>
        {{{styles}}}
    </head>

    <body>
        {{>layouts/layoutNavbar}}

        <main>
            <!-- page specific content will be inserted here -->
            <div class="container mt-5">
                {{{content}}}
            </div>
        </main>

        {{{scripts}}}
    </body>
</html>