<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    {{>CssPartial}}
</head>
<body>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="clientsideForm.html">Clientside form processing</a></li>
            <li><a href="serversideForm.html">Serverside form processing</a></li>
        </ul>
    </nav>
    <div> use the links above to navigate to  pages to compare client and server side processing.</div>

    {{>JsPartial}}
</body>
</html>