<h1 class="text-center mb-5"><i class="fa-solid fa-chalkboard-user text-primary"></i> Manage Course & Classes</h1>

{{#danceCourse}}
  <div class="row pb-4">
      <h3 class="fw-bold pb-4"><i class="fas fa-calendar-alt"></i> Dance Course Details</h3>

      {{#successMessageDanceCourse}}
        <div class="p-3 bg-success bg-opacity-10 border border-success border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow mb-3">
            <i class="fa-solid fa-check"></i> {{successMessageDanceCourse}}
        </div>
      {{/successMessageDanceCourse}}
      
      {{#errorMessageDanceCourse}}
        <div class="p-3 bg-danger bg-opacity-10 border border-danger border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow mb-3">
            <i class="fa-solid fa-xmark"></i> {{errorMessageDanceCourse}}
        </div>
      {{/errorMessageDanceCourse}}

      <div class="col-md-12 mx-auto">
          <div class="card dash-tiled shadow-sm h-100">
            <div class="card-body align-items-start gap-3">

              <div class="row mb-2">
                  <div class="col-md-3 text-start ps-sm-2">
                      <label class="col-form-label fw-bold ps-1 ps-md-3">Title&nbsp;:</label>
                  </div>
                  <div class="col-md-9">
                      <input type="text" class="form-control pe-none" value="{{title}}" disabled="">
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-md-3 text-start ps-sm-2">
                      <label class="col-form-label fw-bold ps-1 ps-md-3">Description&nbsp;:</label>
                  </div>
                  <div class="col-md-9">
                      <input type="text" class="form-control pe-none" value="{{description}}" disabled="">
                  </div>
              </div>

              <div class="text-end">
                  <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#divEditCourseDetailsModal"><i class="fa-solid fa-pen-to-square"></i> Edit Course Details</button>
              </div>
            </div>
          </div>
      </div>
  </div>
{{/danceCourse}}

<hr/>

<div id="divManageCourseContainer" class="pt-4">
  <h3 class="fw-bold pb-4"><i class="fa-solid fa-chalkboard-user"></i> Dance Classes</h3>

  <div class="text-end mb-3">
      <button class="btn btn-success shadow-sm" data-bs-toggle="modal" data-bs-target="#divCreateClassModal"><i class="fa-solid fa-plus"></i> Create Class</button>
  </div>

  {{#successMessageDanceClass}}
    <div class="p-3 bg-success bg-opacity-10 border border-success border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow mb-3">
        <i class="fa-solid fa-check"></i> {{successMessageDanceClass}}
    </div>
  {{/successMessageDanceClass}}
  
  {{#errorMessageDanceClass}}
    <div class="p-3 bg-danger bg-opacity-10 border border-danger border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow mb-3">
        <i class="fa-solid fa-xmark"></i> {{errorMessageDanceClass}}
    </div>
  {{/errorMessageDanceClass}}
  
  {{^danceClasses}}
    <div class="p-3 bg-info bg-opacity-10 border border-info border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow-sm">
        <i class="fa-solid fa-ban"></i> No classes available
    </div>
  {{/danceClasses}}
  
  <div class="row g-4 pb-4">
    {{#danceClasses}}
    <!-- {{_id}} -->
      <div class="col-md-12">
          <div class="card shadow-sm h-100">
            <div class="card-body align-items-start gap-3">
                <div class="row mb-2">
                    <div class="col-md-3 text-start ps-sm-2">
                        <label class="col-form-label fw-bold ps-1 ps-md-3">Title&nbsp;:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control pe-none text-truncate" value="{{title}}" disabled>
                    </div>
                </div>
  
                <div class="row mb-2">
                    <div class="col-md-3 text-start ps-sm-2">
                        <label class="col-form-label fw-bold ps-1 ps-md-3">Description&nbsp;:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control pe-none text-truncate" value="{{description}}" disabled>
                    </div>
                </div>
  
                <div class="row mb-2">
                    <div class="col-md-3 text-start ps-sm-2">
                        <label class="col-form-label fw-bold ps-1 ps-md-3">Date & Time&nbsp;:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control pe-none" value="{{classDateTime}}" disabled>
                    </div>
                </div>
  
                <div class="row mb-2">
                    <div class="col-md-3 text-start ps-sm-2">
                        <label class="col-form-label fw-bold ps-1 ps-md-3">Duration <span class="text-muted fw-light fst-italic">(mins)</span>&nbsp;:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="number" class="form-control pe-none" value="{{duration}}" disabled>
                    </div>
                </div>
  
                <div class="row mb-2">
                    <div class="col-md-3 text-start ps-sm-2">
                        <label class="col-form-label fw-bold ps-1 ps-md-3">Location&nbsp;:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control pe-none text-truncate" value="{{location}}" disabled>
                    </div>
                </div>
  
                <div class="row mb-3">
                    <div class="col-md-3 text-start ps-sm-2">
                        <label class="col-form-label fw-bold ps-1 ps-md-3">Price <span class="text-muted fw-light fst-italic">(£)&nbsp;:</label>
                    </div>
                    <div class="col-md-9">
                        <input type="number" class="form-control pe-none" value="{{price}}" disabled>
                    </div>
                </div>
  
                <div class="text-end mt-3">
                    <a href="/admin/dashboard/managecourses/course/bookings/{{_id}}" class="btn btn-secondary shadow-sm"><i class="fa-solid fa-users-gear"></i> Manage Bookings</a>
                    <button class="btn btn-primary shadow-sm" 
                            data-btnEditClassDetails
                            data-danceClassId="{{_id}}"
                            data-title="{{title}}"
                            data-description="{{description}}"
                            data-classDateTime="{{classDateTime}}"
                            data-duration="{{duration}}"
                            data-location="{{location}}"
                            data-price="{{price}}"><i class="fa-solid fa-pen-to-square"></i> Edit Class Details</button>
                    <button class="btn btn-danger shadow-sm" data-bs-toggle="modal" data-bs-target="#divCreateClassModal"><i class="fa-solid fa-trash-can"></i> Remove Class</button>
                </div>
            </div>
          </div>
      </div>
    {{/danceClasses}}
  </div>

{{#danceCourse}}  
    {{>admin/dashboard/managecourses/course/partials/createClassModalPartial}}
    {{>admin/dashboard/managecourses/course/partials/editCourseDetailsModelPartial}}
    {{>admin/dashboard/managecourses/course/partials/editClassDetailsModalPartial}}
    {{>admin/dashboard/managecourses/course/partials/manageBookingsModalPartial}}
{{/danceCourse}}

</div>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    ManageCourse.Init();
  });
</script>