<h1 class="text-center mb-5"><i class="fa-solid fa-chalkboard-user text-primary"></i> Manage Course & Classes</h1>

{{#danceCourse}}
  <div class="row pb-4">
      <h3 class="fw-bold pb-4"><i class="fas fa-calendar-alt"></i> Dance Course Details</h3>

      <div class="col-md-12 mx-auto">
          <div class="card dash-tiled shadow-sm h-100">
            <div class="card-body d-dflex align-items-start gap-3">

              <div class="row mb-2">
                  <div class="col-md-3 text-start ps-sm-2">
                      <label class="col-form-label fw-bold ps-1 ps-md-3">Title&nbsp;:</label>
                  </div>
                  <div class="col-md-9">
                      <input type="text" class="form-control pe-none" value="{{title}}" disabled="">
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-md-3 text-start ps-sm-2">
                      <label class="col-form-label fw-bold ps-1 ps-md-3">Description&nbsp;:</label>
                  </div>
                  <div class="col-md-9">
                      <input type="text" class="form-control pe-none" value="{{description}}" disabled="">
                  </div>
              </div>

              <div class="text-end">
                  <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#divCreateCourseModal"><i class="fa-solid fa-pen-to-square"></i> Edit Course Details</button>
              </div>
            </div>
          </div>
      </div>
  </div>
{{/danceCourse}}

<hr/>

<div id="divContainer" class="pt-4">
  <h3 class="fw-bold pb-4"><i class="fa-solid fa-chalkboard-user"></i> Dance Classes</h3>

  <div class="text-end mb-3">
      <button class="btn btn-success shadow-sm" data-bs-toggle="modal" data-bs-target="#divCreateCourseModal"><i class="fa-solid fa-plus"></i> Create Class</button>
  </div>

{{#successMessage}}
  <div class="p-3 bg-success bg-opacity-10 border border-success border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow mb-3">
      <i class="fa-solid fa-check"></i> {{successMessage}}
  </div>
{{/successMessage}}

{{#errorMessage}}
  <div class="p-3 bg-danger bg-opacity-10 border border-danger border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow mb-3">
      <i class="fa-solid fa-xmark"></i> {{errorMessage}}
  </div>
{{/errorMessage}}

{{^danceCourses}}
  <div class="p-3 bg-info bg-opacity-10 border border-info border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow-sm">
      <i class="fa-solid fa-ban"></i> No classes available
  </div>
{{/danceCourses}}

<div class="row g-4">
  {{#danceCourses}}
    <div class="col-md-6 col-lg-4">
      <a href="/admin/dashboard/managecourses/{{_id}}" class="text-decoration-none text-dark"> 
        <div class="card dash-tile shadow-sm border-0 h-100">
          <div class="card-body d-flex align-items-start gap-3">
            <div>
              <h5 class="card-title mb-1">{{title}}</h5>
              <p class="card-text text-muted mb-0">{{description}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  {{/danceCourses}}
</div>

</div>


<!-- Create Course Modal -->

<div class="modal fade" id="divCreateCourseModal" tabindex="-1" aria-labelledby="createCourseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white" data-bs-theme="dark">
            <h1 class="modal-title fs-5" id="createCourseModalLabel"><i class="fa-solid fa-book-open"></i> Create Course</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="/admin/dashboard/managecourses">
          <div class="modal-body">
            <!-- Title -->
            <div class="mb-3">
                <label class="form-label fw-bold" for="inputTitle">Title&nbsp;:</label>
                <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Course title" maxlength="256" required>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label class="form-label fw-bold" for="inputDescription">Description&nbsp;:</label>
                <input type="text" class="form-control" id="inputDescription" name="description" placeholder="Course description" maxlength="256" required>
            </div>
          </div>
          <div class="modal-footer bg-light">
            <button type="button" class="btn btn-danger shadow-sm" data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i> Cancel</button>
            <button type="submit" class="btn btn-success shadow-sm"><i class="fa-solid fa-floppy-disk"></i> Save</button>
          </div>
        </form>
    </div>
  </div>
</div>