<h1 class="text-center mb-5">Bookings</h1>

{{#successMessageDeleteBooking}}
    <div class="p-3 bg-success bg-opacity-10 border border-success border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow-sm mb-5"><i class="fa-solid fa-check"></i> {{successMessageDeleteBooking}}</div>
{{/successMessageDeleteBooking}}

{{#errorMessageDeleteBooking}}
    <div class="p-3 bg-danger bg-opacity-10 border border-danger border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow-sm mb-5"><i class="fa-solid fa-xmark"></i> {{errorMessageDeleteBooking}}</div>
{{/errorMessageDeleteBooking}}
    
{{^user}}
    <div class="row pb-4">
        <div class="col-md-12 col-lg-4 mx-auto">
            <div class="card dash-tiled shadow-sm h-100">
                <div class="card-body align-items-start gap-3">
                    <form method="post" action="/bookings">
                        <div class="mb-3">
                            <label class="form-label fw-bold" for="inputBookingReference">Booking Reference</label>
                            {{{errorMessage}}}
                            <input type="text" class="form-control" id="inputBookingReference" name="bookingReference" placeholder="Enter your booking reference" maxlength="256" required="">
                        </div>

                        <div class="text-center">
                            <button class="btn btn-success shadow-sm"><i class="fa-solid fa-magnifying-glass"></i> Find booking(s)</button>
                        </div>

                        <input type="hidden" name="action" value="guest_view_bookings">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="or-container text-muted">
        <div class="line-separator"></div>
        <div class="or-label">OR</div>
        <div class="line-separator"></div>
    </div>
    <div class="row pb-5 mb-5">
        <div class="col-md-4 mx-auto">
            <a href="/login" class="btn btn-outline-primary btn-lg shadow-sm mt-4 w-100"><i class="fa fa-right-to-bracket"></i> Log in</a>
        </div>
    </div>


    <h3 class="fw-bold pb-4">My Bookings</h3>

    {{#infoMessage}}
        <div class="p-3 bg-info bg-opacity-10 border border-info border-2 border-top-0 border-bottom-0 border-end-0 rounded-end shadow-sm">{{{infoMessage}}}</div>
    {{/infoMessage}}

    {{#bookedDanceClasses}}
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card shadow-sm rounded">
                    <div class="card-header bg-light text-center">
                      <h4><i class="fa fa-chalkboard-user"></i> {{title}}</h4>
                    </div>
                    <div class="card-body">
                        <!-- Description -->
                        <div class="mb-4">
                          <h5><b>Description</b></h5>
                          <p>{{description}}</p>
                        </div>

                        <!-- Date & Time -->
                        <div class="mb-3">
                            <div><i class="fa-solid fa-calendar-day"></i> <b>Date & Time&nbsp;:</b> {{classDateTime}}</div>
                        </div>

                        <!-- Location -->
                        <div class="mb-3">
                            <div><i class="fa-solid fa-location-dot"></i> <b>Location&nbsp;:</b> {{location}}</div>
                        </div>

                        <!-- Duration -->
                        <div class="mb-3">
                            <div><i class="fa-solid fa-clock"></i> <b>Class duration&nbsp;:</b> {{duration}} minutes</div>
                        </div>

                        <!-- Price -->
                        <div class="mb-3">
                            <div><i class="fa-solid fa-tag"></i> <b>Price&nbsp;:</b> £{{price}}</div>
                        </div>

                        <div class="text-center">
                            <!-- Form Cancel Booking -->
                            <form method="post" action="/bookings">
                                <!-- Dance Class Booking Id -->
                                <input type="hidden" name="danceClassBookingId" value="{{danceClassBookingId}}">

                                <!-- Action Type -->
                                <input type="hidden" name="action" value="cancel_booking">

                                <!-- Cancel Button -->
                                <button type="submit" class="btn btn-danger btn-lg shadow-sm"><i class="fa-solid fa-calendar-xmark"></i> Cancel booking</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/bookedDanceClasses}}
{{/user}}